# Modify this file, replace TODO with appropriate values.

SEAFILE_MYSQL_DB_PASSWORD = TODO
REDIS_PASSWORD            = TODO
JWT_PRIVATE_KEY           = TODO

# The following are only needed on the first start, and can be commented out
# later:
MYSQL_ROOT_PASSWORD              = TODO
INIT_SEAFILE_MYSQL_ROOT_PASSWORD = TODO same as MYSQL_ROOT_PASSWORD
INIT_SEAFILE_ADMIN_EMAIL         = TODO
INIT_SEAFILE_ADMIN_PASSWORD      = TODO
